@use '../settings/font-family' as ff;
@use '../tools/mixin' as mxn;

.header {
  margin-top: 10vh;
  position: relative;
  @include mxn.center;

  &__description {
    position: absolute;
    top: -15px;
  }

  &__title {
    font-family: ff.$mali;
    font-size: calc(1.5rem + 1.7vw);
  }
}
